.header{
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 0px 5px;
    background-color: #1B3675;
    position: fixed;
    border-bottom: 2px solid #fff;
    z-index: 1;
}
.containerImagem{
    width: 130px;
    height: 130px;
}
.imagem{
    width: 100%;
    height: 95%;
    object-fit: cover;
}
.header h1{
    font-size: clamp(27px, 4vw ,5vw);
    color: #fff;
    padding: 0px 14px;
    letter-spacing: 3px;
}

