.containerMain{
    width: 100vw;
    height: 100vh;
    transform: translateY(162px);
    text-align: center;
    background-color: #1B3675;
    color: #fff;
}
.containerTitulo h2{
    color: gold;
    font-size: clamp(2rem, 4vw ,4rem);
    font-weight: 200;
}
.containerTitulo p{
    padding: 35px 18px;
    font-size: 1.6rem;
    font-weight: 200;
}
.containerEspecialidades li{
    display: flex;
    font-size: clamp(1.6rem,6vw,2.5rem);
    gap: 4px;
    justify-content: center;
    padding: 25px 6px;
}
.containerEspecialidades li::before{
    display: block;
    width: 50px;
    height: 50px;
    content: "";
    background-image: url(../../public/dente0.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;;
}
