.containerMain{
    width: 100vw;
    height: 100vh;
    transform: translateY(162px);
    text-align: center;
    background-color: #1B3675;
    color: #fff;
}
.containerTitulo h2{
    color: gold;
    font-size: clamp(2rem, 4vw ,4rem);
    font-weight: 200;
}
.containerTitulo p{
    padding: 35px 18px;
    font-size: 1.6rem;
    font-weight: 200;
}
