.containerGlobalCard{
    width: 320px;
    height: 325px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.containerCard{
    display: flex;
    width: 95%;
    height: 100%;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerCard h2{
    font-size: 1.5rem;
    padding: 10px 0px 16px;
    color: #000;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
}